body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

a {
  color: #181b97;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #fff;
  padding: 20px;
}

.logo {
  text-align: center;
}

.logo h1 {
  font-size: 24px;
  margin-bottom: auto;
}

.featured-products {
  padding: 40px;
}

.featured-products h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 9px 20px 8px rgb(0 0 0 / 50%);
  text-align: center;
}

.product-card img {
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card p {
  line-height: 1.6;
}

img:hover{
  background-color: #ffffff00;
}

.product-card:hover{
  background-color: #ffffff00;
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 60%);
  transition: background-color 1.0s ease, transform 0.5s ease, box-shadow 1.5s ease;
}

.about-us {
  padding: 40px;
  background-color: #f8f8f8;
}

.about-us h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-us p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.footer-admins {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-admins li {
  display: inline-block;
  margin: 0 10px;
}
